## Q1 to Q10 have only one correct answer. Choose the correct option to answer your question.

Answer 1: C) +
Answer 2: D) i-False, ii-True
Answer 3: B) [“ABC”,” RAHUL”,” NITIN”]
Answer 4: D) [2,4,6]
Answer 5: C) [6] 
Answer 6: D) None of the above
Answer 7: B) error
Answer 8: C) a[1][1]
Answer 9: D) None of the above
Answer 10:D) All of the above.

## Q11 is subjective answer type question, answer it briefly.

Answer 11: Lists 1) Lists save elements in the order they are inserted. 2) Lists support indexing. 3) We can change the value of the element stored in the lists. 4) Lists can store duplicate values. 5) Lists are declared using square brackets. 6) Example: A = [1, 2, 3, 4, 5, 1, 2, 3]

Sets 1) Sets do not save elements in the order they are inserted. 2) Sets do not support indexing. 3) We cannot change the value of the element stored in the sets. 4) Sets cannot store duplicate values. 5) Sets are declared using curly brackets. 6) Example: A = {1, 2, 3, 4, 5}

## Answer 12:

In [12]:
def squared_numbers(list):
    numbers=list
    squared_numbers = [number ** 2 for number in numbers]
    print(squared_numbers)

In [14]:
squared_numbers([1, 2, 3, 4, 6])

[1, 4, 9, 16, 36]

## Answer 13:

In [17]:
def remove_duplicate(list):
    dup_items = set()
    uniq_items = []
    for x in list:
        if x not in dup_items:
            uniq_items.append(x)
            dup_items.add(x)
    print(dup_items)

In [18]:
a = [10,20,30,20,10,50,60,40,80,50,40]
remove_duplicate(a)

{40, 10, 80, 50, 20, 60, 30}

## Answer 14:

In [20]:
def set_opertaion(A,B):
    print("Union :", A | B) # union 
    print("Intersection :", A & B)# intersection
    print("Difference :", A - B) # difference
    print("Symmetric difference :", A ^ B)# symmetric difference

In [21]:
A = {0, 2, 4, 6, 8} 
B = {1, 2, 3, 4, 5} 

set_opertaion(A,B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

## Answer 15:

In [28]:
def add_set(a,b):
    a.add(b)
    print('final set are:',a)

In [29]:
set1 = {'a', 'e', 'i', 'u'}
element = 'o'

add_set(set1,element)

final set are: {'a', 'u', 'o', 'e', 'i'}